<div>
    <form class="formInserimento">
        <input type="text" name="cittade" [(ngModel)]="cittade" (submit)="ricercaCittade()" placeholder="Search city..">
        <button (click)="ricercaCittade()" [disabled]="!cittade">METEO</button>
    </form>
</div>
<div class="visualizzazioneElementi">
    <mat-card class="schedaCitta" *ngFor="let i of elencoChiamate">
        <mat-card-title>{{i.citta}}</mat-card-title>
        <img mat-card-avatar src="https://api.codetabs.com/v1/proxy/?quest=https://metaweather.com/static/img/weather/png/64/{{i.giorni[0].icona}}.png">
        <mat-card-subtitle>Today {{i.giorni[0].mese}} - {{i.giorni[0].giorno}}: {{i.giorni[0].stato}}</mat-card-subtitle>
        <mat-card-content>
            <div class="visualizzaSettimana" *ngFor="let j of i.giorni">
                <img src="https://api.codetabs.com/v1/proxy/?quest=https://metaweather.com/static/img/weather/ico/{{j.icona}}.ico">
                <p><i>Month:</i> {{j.mese}}</p> 
                <p><i>Day:</i> {{j.giorno}}</p>
            </div>
        </mat-card-content>
        <mat-card-footer align="center" (click)="cancellaTab(i)">
            <p>delete</p>
        </mat-card-footer>
    </mat-card>
</div>